.receive-container {
  text-align: center;
}

.col-image {
  height: 300px;
}

.receive-title,
.checklist-title {
  margin-top: 3em;
}

.img-receive {
  margin: 1.5em 0;
  height: 90%;
  width: auto;
}

.btn-receive-car {
  margin: 1em !important;
}
