.extra-padding {
  padding: 1em;
}

.info-content {
  padding-top: 2em;
}

.row-center {
  text-align: center;
}

.col-camera {
  margin: 2.5em 0;
}

.card-info {
  margin: 0.5em;
}

.card-salmon div {
  background-color: #FFA07A !important;
}

.card-blue div {
  background-color: #87CEEB !important;
}

.card-green div {
  background-color: #90EE90 !important
}

.info-text span {
  font-size: 2em;
}

@media only screen and (max-width: 500px) {
  .extra-padding {
    padding: 0;
  }
}
