.history-content {
  text-align: center;
}

.history-title {
  margin: 2em 0 1em;
}

.paper-filter {
  background-color: #0097A7 !important;
  padding: 0 !important;
}

.col-filter,
.row-filter {
  align-self: center;
}

.filter-date label,
.filter-title {
  color: #FFF !important;
}

.filter-date input {
  margin-top: 0 !important;
  padding-top: 15px !important;
}
