.col-checklist {
  margin-bottom: 1em;
}

.checklist-receive-title {
  color: #C5A265;
}

.check-icon {
  fill: #4CAF50 !important;
}

@media only screen and (max-width: 500px) {
  .receive-list-items {
    width: 100% !important;
  }
}
