.btn-confirm-alert button span,
.btn-confirm-success button span {
  color: #FFF !important;
}

.col-img-alert {
  height: 150px;
}

.col-img-success {
  height: 150px;
}

.dialog-alert-title {
  color: #AA302F;
}

.dialog-title {
  color: #27AE60 !important;
}

.accessKey-number {
  font-size: 1.5em;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .alert-dialog-content {
    padding: 0 !important;
  }

  .receive-list-items {
    max-height: 150px !important;
    width: 100% !important;
  }

  .col-img-alert {
    height: 80px;
  }
}
