.btn-confirm-success button span {
  color: #FFF !important;
}

.accessKey-number {
  font-size: 1.5em;
  font-weight: bold;
}

.col-img-success {
  height: 150px;
}

.dialog-title {
  color: #27AE60 !important;
}
