h1, h2, h3, h4, h5, h6, p,
button, input {
  font-family: 'Lora', serif;
}

.main-area-container {
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.app-container,
.main-area-container {
  min-height: 100%;
}

.content-area-container {
  width: 100%;
}

.header-container {
  height: 70px;
  min-height: 70px;
  max-height: 70px;
  background-color: #2095F2;
  color: #BADCBB;
  font-size: 19px;
  font-weight: 400;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  z-index: 100;
}

.content-area-container {
  color: #585f69;
  z-index: 0;
  padding: 15px;
}

.main-area-container,
.header-container {
  flex-direction: row;
}

.app-container,
.side-menu-container,
.content-area-container {
  flex-direction: column;
}

.app-container {
  min-height: 100%;
  flex-direction: column;
}

.row-fluid {
  margin: 0px !important;
}

.row-center {
  text-align: center !important;
}

.col-fluid {
  padding: 0px !important;
}
