.department-content {
  text-align: center;
}

.col-table-header {
  margin-top: 1.5em;
}

.paper-department {
  background-color: #008372 !important;
  padding: 0 !important;
}

.paper-add-department {
  background-color: #0E8697 !important;
  padding: 0 !important;
}

.col-department,
.row-department {
  align-self: center;
}

.department-title {
  color: #FFF !important;
}

.department-title svg {
  fill: #FFF !important;
}

.btn-edit-department {
  margin-right: 0.5em;
}
