.form-container {
  padding: 0 2em;
}

.form-content {
  margin: -0.5em 0 !important;
  width: 100%;
}

.form-content label {
  font-size: 0.9em;
}

.form-content:last-child {
  margin-top: 1.5em !important;
}

.form-content-field {
  width: 100% !important;
}

.logIn-error-message {
  background-color: #C74343;
  border-radius: 5px;
  color: #FFF;
  margin-bottom: -0.3em;
  padding: 0.5em;
}

.btn-form-signin > div span {
  color: #FFF;
}
