@import url('https://fonts.googleapis.com/css?family=Lora');

.homepage-container {
  text-align: center;

  height: 80%;
  margin: auto;
}

.img-homepage {
  height: auto;
  width: 80%;
}

.col-homepage {
  height: 80%;
  margin: auto;
}

.homepage-card-container {
  text-align: center;
  width: 80%;
  margin: auto;
}

.homepage-card-title > div {
  padding-right: 0 !important;
}

.homepage-card-title > div span {
  font-family: 'Lora', serif;
  font-size: 2em !important;
}
