.toolbar-container {
  background-color: #CCC !important;
  box-shadow: 0 3px 3px #888;
  z-index: 999;
}

.toolbar-title {
  color: #000 !important;
  font-weight: bold;
  padding-left: 1em;
}

.separator {
  margin-left: 0 !important;
}

.btn-appbar button {
  background-color: #DCDCDC !important;
}

@media only screen and (max-width: 500px) {
  .toolbar-title {
    display: none;
  }
}
